:root {
  --ion-color-primary: #1d4ed8;
  --ion-color-primary-rgb: 29, 78, 216;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1a45be;
  --ion-color-primary-tint: #3460dc;

  --ion-color-success: #15803d;
  --ion-color-success-rgb: 21, 128, 61;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #127035;
  --ion-color-success-tint: #2c8d50;

  --ion-color-warning: #b45309;
  --ion-color-warning-rgb: 180, 83, 9;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #9e4908;
  --ion-color-warning-tint: #bc641f;

  --ion-color-danger: #b91c1c;
  --ion-color-danger-rgb: 185, 28, 28;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a31919;
  --ion-color-danger-tint: #c13333;

  --ion-color-medium: #475569;
  --ion-color-medium-rgb: 71, 85, 105;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #3e4b5c;
  --ion-color-medium-tint: #596679;

  --ion-color-dark: #0f172a;
  --ion-color-dark-rgb: 15, 23, 42;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0d1425;
  --ion-color-dark-tint: #273043;

  --ion-color-light: #f1f5f9;
  --ion-color-light-rgb: 241, 245, 249;
  --ion-color-light-contrast: #0f172a;
  --ion-color-light-contrast-rgb: 15, 23, 42;
  --ion-color-light-shade: #d4d8db;
  --ion-color-light-tint: #f3f6fa;

  --ion-background-color: #f8fafc;
  --ion-background-color-rgb: 248, 250, 252;
  --ion-text-color: #0f172a;
  --ion-text-color-rgb: 15, 23, 42;
  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #0f172a;
    --ion-background-color-rgb: 15, 23, 42;
    --ion-text-color: #e2e8f0;
    --ion-text-color-rgb: 226, 232, 240;
    --ion-card-background: #1e293b;
    --ion-item-background: #1e293b;
    --ion-color-light: #334155;
    --ion-color-light-rgb: 51, 65, 85;
    --ion-color-light-contrast: #e2e8f0;
    --ion-color-light-contrast-rgb: 226, 232, 240;
    --ion-color-light-shade: #2d394b;
    --ion-color-light-tint: #475569;
  }
}
